// Website Colors
@primary-color: @green;
@secondary-color: @red;

//Colors
@white: #ffffff;
@red: #990000;
@black: #000000;
@grey: #cccccc;
@green: #000000;
@lightgrey: #D3D3D3;
@darkgrey: #888888;
@blue: #0099FF;
@darkblue: #000066;

// Mixins
.content-box{
	background: @red;
	border: 1px solid @black;
	padding:25px;
}