@import url(imports.less);

body{
	background-image:url("/img/background.jpg");

	img{
		.img-responsive;
	}
}
.bg{
	padding:5px;
	margin:0 auto;
}

.heading{
	color:@blue;
	font-size:17px;
	line-height: 25px;
}


	.header-info{
		.make-row();
		padding-right:1%;
			.logo{
				.make-lg-column(10);
				.make-xs-column(12);
				.make-sm-column(8);
				h1{
					color:@darkblue;
					b{
						color:@grey;
					}
				}
			}
			.social-links{
				.make-lg-column(2);
				.make-xs-column(12);
				.make-sm-column(4);
				padding-top:4%;
				float:right;
				.empty{
					.make-lg-column(3);
					.make-xs-column(6);
					.make-sm-column(7.5);
				}
				.fb{
					.make-lg-column(3);
					.make-xs-column(2);
					.make-sm-column(1.5);
					p{
						color:@darkblue;
						.opacity(0.5);
					}			
				}
				.twitter{
					.make-lg-column(3);
					.make-xs-column(2);
					.make-sm-column(1.5);	
					p{
						color:@black;
						.opacity(0.5);
					}	
				}
				.google{
					.make-lg-column(3);
					.make-xs-column(2);
					.make-sm-column(1.5);
					p{
						color:@black;
						.opacity(0.5);
					}
				}
			}
	}
	nav{
		.make-row();
		padding-right: 25px;
		padding-left: 25px;
		
		.collapse{
					padding-left: 13%;
					width:100%;
					background: @darkblue;
					.make-xs-column(12);
					.navbar-nav {
							margin: 0 auto;

							}
								ul{
									width:100%;
									margin:0 auto;
									padding-right:0%;
									li{
										background: @darkblue;
										padding-left:2.5%;
										padding-right:2%;
										//border-right: 1px solid white;
										a{
											color:@white;
											font-weight: bold;
											&:hover{
												background:@blue;
											}
										 }
									   }
									}
					}
		}

		.slider{
			.gradient(lighten(@blue, 50%), @blue, lighten(@blue, 50%));
			.inner-shadow(0, 8px, 12px, 0.4);
			.container{
						
					.sidebar{
						.make-lg-column(4);
						.bg;
						padding-top:30px;
						padding-left:1%;
						ul{
							
							li{
								background:@white;

								a{
									color:@darkblue;
									font-size:15px;
									&:active{
										background:@blue;
									}
								}
							}
						}
						a{
							text-decoration:underline;
						}
					}
					img{
						.make-lg-column(8);
						float:right;
						padding-right:10px;
					}
				}
				.features{
					p{	
						margin:0 auto;
						img{
							padding:25px;
							width:285px;
							margin:0 auto;
							float:left;
						}
					}
				}
				

			}

.full{
	background-color: rgba(240,255,255,0.9);
.container{

	.content{
		


			.aboutus{
				.make-lg-column(8);
				.make-sm-column(8);
				padding:12px 31px 12px 15px;
				h4{
					.heading;
					
				}
				p{
					color:@black;
					font-size:15px;
					border:0px solid @grey;
				}
				hr{
						border:2px solid @grey;
								}
			}
			.vehicles-ad{
				.make-lg-column(4);
				.make-sm-column(4);
				padding:12px 31px 12px 15px;
				
				.featured-vehicles{
					float:right;
					
					h4{
					.heading;
					text-align: center;				
					}
					div{
						padding-top:12%;
						img{
							margin:0 auto;
						}
						.prices{
							.bg;
							text-align:center;
							p{
								
							}
							h5{
								background: @blue;
								.btn;
								width:50%;
								border:1px solid @white;
								color:@white;
								.rounded(15px);
								.bg;
							}
						}
					}
				}

			}
		}
		.clear { clear: both; }
	}
}
.bottom{
	.gradient(lighten(@blue, 50%), @blue, lighten(@blue, 50%));
	.inner-shadow(0, 8px, 12px, 0.4);
		footer{
			padding-top:5%;
			color: @black;
			height:auto;
			clear:both;

			
			.alllinks{
						.make-lg-column(8);
						.make-sm-column(8);
						ul{
							.make-lg-column(4);
							.make-sm-column(4);
							.bg;
							list-style:none;
							padding-left:0px;
							li{
								font-size:12px;
								b{
									color: @blue;
									margin-top:5%;
								}
							}
						}
			}
			.info{	
				.make-lg-column(4);
				h3{
					text-align:right;
				}
				p{
					text-align:right;
					color:@black;
					font-size:12px;
					b{
						color:@blue;
						.bg;
					}
				}
			}
		}
	}

		
		
@media (max-width: 999px) {
	.social{
			display:none;
	}
	nav{
		.make-row();
		.collapse{
			padding-left: 10%;
					.make-xs-column(12);
					.make-sm-column(12);
					.navbar-nav {
								ul{
									li{
										background: @darkblue;
										margin-left: -2.2%;
										padding-left: 0;
										padding-right: 0;
										//border-right: 1px solid white;
										a{
											color:@white;
											font-weight: bold;
											&:hover{
												background:@blue;
											}
										 }
									   }
									}
								}
					}
		}	
}

@media (max-width: 766px) {
	
		.header-info{
			.info{
				p{
					text-align:center;
					float:inherit;;
				}
			}
			.logo{
				h1{
					text-align: center;
				}
			}
		}
		.social-links{
			float:left;
		}

		nav .collapse {
			display: block;
			}
		nav .collapse .navbar-nav {
			width: 100%;
			text-align: center;
			}

		ul.nav.navbar-nav {
			width: 100%;
			}

		nav{
			.ford{
				img{
					.bg;
				}
			}
		}

		nav .collapse ul li {
			border-right: 0px;
			}

		.slider{
			.features{
				p{
					img{
						float:initial;
					}
				}
			  }
			}
		.special-vehicles {
			.featured-title{ 
				h5{
				 	a{
						float:left;
				 	}
				 }
				}
			}

		.social{
			display:none;
	}	
	.bottom{
		footer{
			text-align:center;
			.info{
				p{
					text-align:center;
				}
			}
		}
}
}



